---
import Room from '../../components/Room';
import Layout from '../../layouts/Layout.astro';
import pokemons from '../../pokemons/pokemons.json';

const pkmList = Object.entries(pokemons.pokemons).sort(([id], [id2]) => +id - +id2)
---

<Layout title="Pokedle vs">
	<main>
    <Room client:only="react" />
	</main>
</Layout>
