---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pokedle vs">
	<main>
		<form>
			<input name="username" placeholder="Username" required/>
			<input name="room_name" placeholder="Room name" />
			<input name="room_id" placeholder="Room ID" />
			<button type="submit">Submit</button>
		</form>
	</main>
</Layout>

<script>
	const $form = document.querySelector('form')
	$form?.addEventListener('submit', e => {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		const { username, room_name, room_id } = Object.fromEntries(formData);
		if (!username) return alert('Username is required')
		if (!room_name && !room_id) return alert('Invalid form')
		location.href = `/room?username=${username}&room_name=${room_name}&room_id=${room_id}`;
	});
</script>
